<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pet Mach - Publicar peludito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="fondo-patitas">
    <header class="barra-superior">
        <a href="{{ url_for('dashboard') }}" style="text-decoration: none; color: white;">
            <h1>🐾 Pet Mach</h1>
        </a>
        <nav>
            <a href="{{ url_for('dashboard') }}">Adoptar</a>
            <a href="{{ url_for('refugios') }}">Refugios</a>
            <a href="{{ url_for('mensajes') }}">Mensajes</a>
            <a href="{{ url_for('agregar_mascota') }}">Publicar peludito</a>
            <a href="{{ url_for('perfil') }}">Mi perfil</a>
        </nav>
    </header>
    <main class="contenido-principal">
        <div class="form-container">
            <h2>Dar en adopción</h2>
            <p>Ingresa los datos del peludito que busca un hogar.</p>
            
            <form action="/agregar" method="POST" class="formulario-mascota" enctype="multipart/form-data">
                <label>Apodo o referencia:</label>
                <input type="text" name="nombre" placeholder="Ej. Firulais" required>
                
                <label>Raza o Categoría:</label>
                <input type="text" name="raza" placeholder="Ej. Mestizo, Gato Siamés..." required>

                <label>Refugio al que pertenece:</label>
                <select name="refugio" required style="padding: 10px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 8px; font-family: inherit;">
                    <option value="" disabled selected>Selecciona un refugio...</option>
                    {% for refugio in refugios %}
                        <option value="{{ refugio.nombre }}">{{ refugio.nombre }}</option>
                    {% endfor %}
                </select>
                
                <label>Descripción y personalidad:</label>
                <textarea name="descripcion" placeholder="Cuéntanos sobre la mascota... (Ej. Es muy juguetón, le gustan los niños, está vacunado...)" required style="padding: 10px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 8px; font-family: inherit; resize: vertical; min-height: 80px;"></textarea>
                
                <label>Subir fotografía :</label>
                <input type="file" name="foto" accept="image/*" required style="padding: 10px 0; margin-bottom: 20px;">
                
                <button type="submit" class="btn-principal">Publicar Mascota</button>
            </form>
        </div>
    </main>
</body>
</html>