<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pet Mach - Mensajes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="fondo-patitas">
    <header class="barra-superior">
        <a href="{{ url_for('dashboard') }}" style="text-decoration: none; color: white;"><h1>🐾 Pet Mach</h1></a>
        <nav>
            <a href="{{ url_for('dashboard') }}">Adoptar</a>
            <a href="{{ url_for('refugios') }}">Refugios</a>
            <a href="{{ url_for('mensajes') }}">Mensajes</a>
            <a href="{{ url_for('perfil') }}">Mi perfil</a>
        </nav>
    </header>

    <main class="contenido-principal">
        <div class="busqueda">
            <h2>Centro de mensajes</h2>
            <p>Revisa tus notificaciones y platica con los refugios.</p>
        </div>

        <div class="lista-mensajes">
            {% if chats|length > 0 %}
                {% for chat in chats %}
                
                <a href="{{ url_for('chat', id_solicitud=chat._id, tipo='sistema') }}" style="text-decoration: none; color: inherit;">
                    <div class="mensaje-card" style="border-left: 5px solid #a8d5e2; margin-bottom: 10px;">
                        <img src="https://cdn-icons-png.flaticon.com/512/194/194279.png" alt="Sistema">
                        <div class="mensaje-info">
                            <h4>Sistema Pet Mach</h4>
                            <p>Notificaciones sobre la adopción de: <strong>{{ chat.nombre_mascota }}</strong></p>
                        </div>
                    </div>
                </a>

                <a href="{{ url_for('chat', id_solicitud=chat._id, tipo='refugio') }}" style="text-decoration: none; color: inherit;">
                    <div class="mensaje-card" style="border-left: 5px solid #ff6b6b; margin-bottom: 30px;">
                        <img src="https://cdn-icons-png.flaticon.com/512/2809/2809802.png" alt="Refugio">
                        <div class="mensaje-info">
                            <h4>{{ chat.refugio }}</h4>
                            <p>Chat activo sobre adopción de: <strong>{{ chat.nombre_mascota }}</strong></p>
                        </div>
                    </div>
                </a>
                
                {% endfor %}
            {% else %}
                <div style="text-align: center; padding: 40px; color: #777;">
                    <p>Aún no has iniciado ningún trámite de adopción.</p>
                </div>
            {% endif %}
        </div>
    </main>
</body>
</html>